* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#editor {
    width: 100%;
    height: 100%;
    flex: 1;
    resize: none;
    background-color: rgb(39, 39, 50);
    color: red;
    font-family: monospace;
    height: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#slider {
    height: 100%;
    width: 10px;
    background: grey;
    cursor: col-resize;
}

#preview * {
    overflow-wrap: break-word;
}

#lineCount {
    overflow: hidden;
    margin-inline: 5px;
    font-family: monospace;
    user-select: none;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#preview {
    width: 100%;
    height: 100%;
    background-color: rgb(231, 231, 241);
}

.editorHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editorHeader .left, .editorHeader .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .left {
    background-color: wheat;
}

header .right {
    background-color: burlywood;
}

#shareButton {
    height: 50px;
    width: 50px;
}

#shareImage {
    width: 100%;
    height: 100%;
}

#slider:active {
    cursor: grabbing;
}

.horizontalContainer .left {
    background-color: wheat;
}

.horizontalContainer .right {
    flex: 1;
    min-width: 0;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

